body {
    font-family: Tahoma;
    background-color: #f0f8ff;
    text-align: center;
    direction: rtl;
    padding: 30px;
}

input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#output {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}